.App{
    display: flex;
    flex-direction: column;
    // background-color: #ffffff;
    // background-color: #ffffff;
}
body 
   { 
       margin: 0;
}

* {
    box-sizing: border-box;
}

.products-list {
    width: 92.6vw;
}

.karusel {
    width: 100%;
}

.cart-fav {
    display: flex;
    justify-content: space-around;
}
