
//Styling Cards

.single-product {
    width: calc((100% - 50px)/ 5);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #282828;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.single-product:not(:nth-child(5n)){
        margin-right: 5px;
}

.load-more{
    width: 100%;
}

.bg-color {
    height: 465px;
    width: 201px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, .5);
}

.poster-images {
    width: 200px;
    height: 240px;
    border: 2px solid black;
    border-radius: 4px;
}

.movie-name {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;

}


.btn {
    width: 80px;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 13.2px;
    line-height: 18px;
    color: #ffffff;
    font-family: "Arial";
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 10px;
    
}

.cart-price {
    margin-top: calc(100% / 15);
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movie-desc {
    width: 100%;
    font-size: 13px;
    font-weight: 100;
}

.star-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) saturate(100%)
    invert(89%) sepia(8%) 
    saturate(11%) hue-rotate(328deg) 
    brightness(83%) contrast(83%);
    cursor: pointer;
}

.fav-star-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) saturate(100%)
    invert(89%) sepia(68%) 
    saturate(1487%) hue-rotate(349deg) 
    brightness(95%) contrast(95%);  
    cursor: pointer; 
}
