.modal {
    margin: 0;
    padding: 0;
    width: 435px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: "Helvetica";
    color: rgba(0,0,0, 0.7);
    //Centering
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    
    top: 0%;
    left: 16%;  
    padding: 20px;
    text-align: center;
    position: fixed;
    filter: blur(0);
    z-index: 1;
    

}
.modal-head {
    border-bottom: 1px solid rgb(110, 110, 110);
    padding: 20px;
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  
}

.modal-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-text {
    // border: 2px solid red;
    margin-left: 12px;
    padding: 5px;
    width: 85%;
    height: 70px;
    line-height: 30px;
    font-size: 21px;
    text-align: center;
}

.buttons, .app-buttons{
    display: flex;
    margin-bottom: 10px;   
    outline: none;
    border: none;
}

.close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
