.cart, .fav-cart{
    width: 65vw;
    height: 250px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    line-height: 31px;
    font-size: 18px;
    color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    z-index: 1000;
    font-family: "Sanchez";
}

.fav-cart {
    overflow-y: auto;
    font-family: "Sanchez";
}

.notDisplayFav, .notDisplayCart {
    display: none;
    font-family: "Sanchez";
}

.fav-detail {
    position: absolute;
    // border: 5px solid green;
    box-shadow: 0px 10px 5px -7px rgba(181,181,181,1);
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50px;
    width: 100%;
    height: 80%;
    padding: 0 20px 0 40px;
    font-family: "Sanchez";
}

.total-detail {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 20px;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    font-family: "Sanchez";
    padding: 0 10px 0 40px;
}

.single-detail {
    background-color: rgba(255,255,255,.7);
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 7px -9px rgba(181,181,181,1);   
    font-family: "Sanchez";
}

.product-name {
    width: 50%;
    font-family: "Sanchez";
}

.number-of-item {
    width: 5%;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-align: center;
    font-family: "Sanchez";
}

.total-price {
    color: rgba(255,255,255,.7);
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 15px;
    font-family: "Sanchez";
    letter-spacing: 1px;
}

